<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="~{index::nav_bar}"></div>
<h1>View Blog</h1>
<div class="form-control">
    <form  th:object="${view}">
        <div class="form-control">
            <p>id</p>
            <label>
                <input type="text" th:field="*{id}" disabled>
            </label>
        </div>
        <div class="form-control">
            <p>Name</p>
            <label>
                <input type="text" th:field="*{name}" disabled>
            </label>
        </div>
    </form>
    <div>
        <a th:href="@{/blog}">Back to menu</a>
    </div>
</div>

<th:block th:insert="layout::js">
</th:block>
</body>
</html>