<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1 style="text-align: center">Edit Cart</h1>
    <form action="/shopping/edit" method="post">
        <table class="table table-hover">
            <input type="hidden"  name="id" th:value="${id}">
            <tbody>
            <tr>
                <td>Amount</td>
                <td>
                    <input type="text" name="amount"  th:value="${amount}">
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/shopping"></a>
                </td>
                <td>
                    <input type="submit" value="Edit">
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

<th:block th:insert="layout::js">

</th:block>
</body>
</html>