<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout::head">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div class="container">
<h1 style="text-align: center">Product</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="nav_bar">
    <a class="navbar-brand"href="">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
<!--            <li class="nav-item active">-->
<!--                <a class="nav-link" href="">Product <span class="sr-only">(current)</span></a>-->
<!--            </li>-->
            <li class="nav-item active">
                <a class="nav-link" href="/shopping">Cart <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
</div>
<th:block th:insert="layout::js">

</th:block>
</body>
</html>