<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout::head">
    <meta charset="UTF-8">
    <title>View Product Detail</title>
</head>
<body>
<div class="container">
    <form th:object="${product}" th:action="@{shopping/create/(id=${product.id})}" method="post">
        <h1>View Product Detail</h1>
        <table>
            <tbody>
            <tr>
                <td>Id Product</td>
                <td>
                    <input type="text" class="form-control" th:field="*{id}" disabled>
                </td>
            </tr>
            <tr>
                <td>Name Product</td>
                <td>
                    <input type="text" class="form-control" th:field="*{nameProduct}" disabled>
                </td>
            </tr>
            <tr>
                <td>Price</td>
                <td>
                    <input type="text" class="form-control" th:field="*{price}" disabled>
                </td>
            </tr>

            <tr>
                <td>
                    <a class="btn btn-warning" th:href="@{/}">back <i
                            class="fas fa-edit"></i></a>
                </td>
                <td>
                    <input type="submit" class="btn btn-success"  value="Buy Now"/>
                    <!--                    <form th:action="@{carts/{id}/create(id=${product.idProduct})}" method="post" th:object="${cart}">-->
                    <!--                <input type="submit" value="add to cart"/>-->
                    <!--            </form>-->
                </td>
            </tr>
            </tbody>
        </table>
    </form>

</div>
<th:block th:insert="layout::js">

</th:block>
</body>
</html>