<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<h1 style="text-align: center">Book</h1>
<div class="container">
    <p th:if="${message}" th:text="${message}" style="color: deeppink"></p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">BookCode</th>
            <th scope="col">Name Book</th>
            <th scope="col">Amount</th>
            <th scope="col">Borrow</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="book,row:${listBook}">
            <th th:text="${row.count}">1</th>
            <th th:text="${book.id}"></th>
            <th th:text="${book.bookCode}"></th>
            <th th:text="${book.bookName}"></th>
            <th th:text="${book.amount}"></th>
            <th>
                <a th:href="@{/borrow(id=${book.id})}">Borrow</a>

            </th>
        </tr>

        </tbody>
    </table>
    <a th:href="@{/return}">Return</a>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>