<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Show Form Edit</title>
</head>
<body>
<h3>Modify Product</h3>
<p>
    <a th:href="@{/}">
        Back to product list
    </a>
</p>
<div id="form">
    <form  th:action="@{/update}" th:object="${editProduct}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name Product</label>
            <input type="text" th:field="*{nameProduct}"/>
        </div>
        <div>
            <label>Price Product</label>
            <input type="email" th:field="*{price}"/>
        </div>
        <div>
            <label>Type Product</label>
            <input type="text" th:field="*{typeProduct}"/>
        </div>
        <input type="submit" value="Edit">
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>